* {
    image-rendering: pixelated;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-color: cadetblue gainsboro;
    overscroll-behavior: none;
}
body{
    display:block;
}
.room {
    width: 100%;
    height: 300px;
    position: relative;
    transform: scale(0.70) translateY(-25%);
}

span {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(1em + 1.75vw);
    color: #FFF;
    line-height: 1;
    filter: drop-shadow(1px 1px 0 black)
        drop-shadow(-1px 1px 0 black) 
        drop-shadow(1px -1px 0 black) 
        drop-shadow(-1px -1px 0 black);
    text-transform: uppercase;
    z-index: 99;
}

img{
    width:100%;
    height:auto;
}

.rotate {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: absolute;
}
.rotate:hover img, .rotate:focus img {
    transform: rotate(3deg);
}
.rotate:hover span, a:focus span {
    opacity: 1;
}

.appear {
    width: fit-content;
    height: fit-content;
    display: inline-block;
    position: absolute;
}
.appear img {
    opacity: 0;
}
.appear:hover img, .appear:hover span, a:focus img {
    opacity: 1;
}


.background-image{
    width: 100%;
    height: 100vh;
    object-fit: fill;
    z-index: -2;
    position: absolute;
    top:0;
}
/* .poster-image{
    width:20vw;
    height:auto;
} */

.events-container{
    position: absolute;
    top:15vh;
    width: 56%;
    height: 72vh;
    left:22%;
    z-index: 1;
    /* background-color: red;   */
    overflow: auto;

    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2em; /* spacing between items */
}
.event-item {
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.poster-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.event-details {
  margin-top: 8px;
  text-align: center;
  font-size: 0.9rem;
}

.center { 
display: block; 
margin-left: auto; 
margin-right: auto; 
width: 50%; 
}


@media screen and (max-device-width : 800px){
    .room { transform: scale(0.95);	}
    span { font-size: calc(0.5em + 1.7vw); }
    header { margin: 10px auto; }
}